<h2>Hello</h2>
<p><img src="https://pbs.twimg.com/profile_images/2926677443/437c2d930dad28ba125dafe06fd5cf73_400x400.jpeg" alt="elina kori" title="Follow me on Twitter @elinakori"  class="img-rounded floatLeft" />
I am a full time PhD student at the University of Glasgow, studying English Language. My primary research concerns involve harnessing electronic resources for the purpose of stylistic analysis. Aside from my core research topic, I have a keen interest in both literary critical theory and current developments in DH.</p>
<p><iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=ekori&repo=ekori.github.com&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe>&nbsp;<iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=ekori&repo=ekori.github.com&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe></p>
<p><a href="https://twitter.com/elinakori" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @elinakori</a></p>
<p>
	<ul class="buttons unstyled">
	  <li><a href="http://github.com/ekori" rel="me" class="social github" title="Go to github.com/ekori" target="_blank"></a></li>
	  <li><a href="https://uk.linkedin.com/pub/elina-koristashevskaya/1b/479/203" rel="me" class="social linkedin" title="Go to LinkedIn profile" target="_blank"></a></li>
	  <li><a href="http://www.twitter.com/elinakori" rel="me" class="social twitter" title="Go to twitter.com/elinakori" target="_blank"></a></li>
	  <li><a href="https://github.com/ekori/Feedback/issues/new" rel="me" class="social mail" title="Leave me feedback"  target="_blank"></a></li>
	</ul>
</p>
