<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
	<div class="container">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </a>
	  <a class="brand" href="http://ekori.github.io">Elina Kori</a>
	  <div class="nav-collapse">
		<ul class="nav">
		  <li class="">
			<a href="http://ekori.github.io">Home</a>
		  </li>
		  <li class="divider-vertical"></li>
		  <li class="">
			<a href="http://github.com/ekori" target="_blank">GitHub</a>
		  </li>
		  <li class="divider-vertical"></li>
		  <li class="">
			<a href="https://uk.linkedin.com/pub/elina-koristashevskaya/1b/479/203" title="Go to linkedin profile" target="_blank">LinkedIn</a>
		  </li>
		  <li class="divider-vertical"></li>
		  <li class="">
			<a href="http://www.twitter.com/elinakori" title="Go to twitter.com/elinakori" target="_blank">Twitter</a>
		  </li>
		  <li class="divider-vertical"></li>
		  <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Academic<b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li class=""><a href="http://glasgow.academia.edu/ElinaKoristashevskaya" title="Academia.edu" target="_blank">Academia.edu</a></li>
          <li class=""><a href="http://www.gla.ac.uk/schools/critical/postgrad/currentstudents/elinakoristashevskaya/" title="Glasgow" target="_blank">University of Glasgow</a></li>
				</ul>
			  </li>
		</ul>
	  </div>
	</div>
  </div>
</div>
